<app-selection [selectionName]="selectionEnum.Novelty" selectionHeader="Новинки"></app-selection>
<app-selection [selectionName]="selectionEnum.GoneOnSale" selectionHeader="Уже в продаже"></app-selection>
<app-selection [selectionName]="selectionEnum.BackOnSale" selectionHeader="Снова в продаже"></app-selection>
<app-selection [selectionName]="selectionEnum.ForChildren" selectionHeader="Для детей"></app-selection>
<app-selection [selectionName]="selectionEnum.CurrentDayAuthor" selectionHeader="Автор этого дня"></app-selection>
