<div class="main-page-selections">
  <app-selection [userProfile]="(userProfile$ | async) || emptyUser" [selectionName]="selectionEnum.Novelty" selectionHeader="Новинки"></app-selection>
  <app-selection [userProfile]="(userProfile$ | async) || emptyUser" [selectionName]="selectionEnum.GoneOnSale" selectionHeader="Уже в продаже"></app-selection>
  <app-selection [userProfile]="(userProfile$ | async) || emptyUser" [selectionName]="selectionEnum.BackOnSale" selectionHeader="Снова в продаже"></app-selection>
  <app-selection *ngIf="(userProfile$ | async)?.isAuthorized()"
                 [userProfile]="(userProfile$ | async) || emptyUser"
                 [selectionName]="selectionEnum.LastViewed"
                 selectionHeader="Последнее, что вы смотрели"
  ></app-selection>
  <app-selection [userProfile]="(userProfile$ | async) || emptyUser" [selectionName]="selectionEnum.ForChildren" selectionHeader="Для детей"></app-selection>
  <app-selection [userProfile]="(userProfile$ | async) || emptyUser" [selectionName]="selectionEnum.CurrentDayAuthor" selectionHeader="Автор этого дня"></app-selection>
</div>

