.search {
  display: inline;
  justify-content: center;
}

.search-field {
  display: flex;
}

.search-field input {
  height: 2.2em;
  width: 20em;
}

.search-field button {
  color: #2199e8 !important;
}

.result-block {
  display: flex;
  justify-content: center;
}

.search-result {
  position: absolute;
  display: flex;
  width: 40em;
  border: 0.1em solid gray;
  border-radius: 0.4em;
  padding: 0 0.4em 1.4em 0.4em;
  z-index: 9999;
  background-color: white;
}

.result-data {
  width: 100%;
  display: flex;
}

.result-data div {
  width: 50%;
  text-align: center;
}

.hidden {
  display: none;
}
