<div class="search">
  <div class="search-field">
    <div class="search-field">
      <input [formControl]="input"/>
    </div>
    <button mat-stroked-button (click)="redirectToSearchPage()"><mat-icon>search</mat-icon></button>
  </div>
  <div>
    <div class="search-result">
      <app-search-hint [searchField]="input" target="name">Произведения</app-search-hint>
      <app-search-hint [searchField]="input" target="authorName" relatedEntityName="author">Авторы</app-search-hint>
      <app-search-hint [searchField]="input" target="publisherName" relatedEntityName="publisher">Издатели</app-search-hint>
    </div>
  </div>
</div>


