<div class="search">
  <div class="search-field">
    <div class="search-field">
      <input [formControl]="input"/>
    </div>
    <button mat-stroked-button (click)="redirectToSearchPage()"><mat-icon>search</mat-icon></button>
  </div>
  <div class="{{input.value ? 'result-block' : 'result-block hidden'}}">
    <div class="search-result">
      <div class="result-data">
        <div>
          <app-search-hint [hints]="(searchHints$ | async)?.books!" [searchField]="input" target="name">Произведения</app-search-hint>
        </div>
        <div>
          <app-search-hint [hints]="(searchHints$ | async)?.authors!" [searchField]="input" target="authorName">Авторы</app-search-hint>
          <app-search-hint [hints]="(searchHints$ | async)?.publishers!" [searchField]="input" target="publisherName">Издатели</app-search-hint>
        </div>
      </div>
    </div>
  </div>
</div>


