.confirmation-message {
  font-size: 1.4em;
  margin: 4vh 0;
}

.confirmation-buttons-block {
  display: flex;
  justify-content: flex-end;
}

.confirmation-buttons-block .confirm-button {
  background-color: #2199e8;
  color: white;
}

@media (max-width: 585px) {
  .confirmation-message {
    font-size: 1em;
    margin: 4vh 0;
  }
}
