<div class="page-block">
  <filter-group [setFiltersCallback]="onFilterChanged" [disabledFilters]="disableFilters">
    <app-range-filter label="Цена" class="filter-elem" propertyName="cost"></app-range-filter>
    <app-range-filter label="Год издания" class="filter-elem" propertyName="releaseYear"></app-range-filter>
    <app-plenty-filter label="Жанры" class="filter-elem" propertyName="genre"></app-plenty-filter>
    <app-plenty-filter label="Тип книги" class="filter-elem" propertyName="type"></app-plenty-filter>
    <app-plenty-filter label="Возрастное ограничение" class="filter-elem" propertyName="ageLimit"></app-plenty-filter>
    <app-plenty-filter label="Тип обложки" class="filter-elem" propertyName="coverArt"></app-plenty-filter>
    <app-status-filter label="В наличии" class="filter-elem" propertyName="quantity"></app-status-filter>
  </filter-group>
  <div class="list-block">
    <sorting [propertyNamesWithText]="propertyNamesWithText" [setSortingsCallback]="onSortChanged"></sorting>
    <div *ngIf="!loading; else loadingBlock">
      <div *ngIf="books.length !== 0; else emptyResult" class="books-list">
        <app-book-preview *ngFor="let book of books | paginate: config" [item]="book" [userBasketBookIds]="userProfile.basketBookIds"></app-book-preview>
      </div>
    </div>
  </div>
</div>
<div class="pagination-block pagination-panel">
  <pagination-controls class="custom-pagination" id="paginationPanel"
                       [maxSize]="9"
                       nextLabel=""
                       previousLabel=""
                       [autoHide]="true"
                       [responsive]="true"
                       (pageChange)="onPageChanged($event)">
  </pagination-controls>
</div>

<ng-template #emptyResult>
  <div class="empty-result-block">Ничего не найдено.</div>
</ng-template>

<ng-template #loadingBlock>
  <div class="loading-block">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>



