.remove-all-button {
  color: #2199e8 !important;
  margin-bottom: 2em;
  display: flex;
  justify-content: right;
}

.main-block {
  margin: 2em 5em;
}

.basket-list {
  height: 55em;
  overflow-y: auto;
}
