<div *ngIf="!basketService.loadingBasket; else loadingBlock" class="main-block">
  <div *ngIf="(basketService.basketProducts | async)?.length; else emptyBasket">
    <div class="remove-all-button">
      <button mat-stroked-button (click)="basketService.removeAll()">Очистить корзину</button>
    </div>
    <div class="basket-list">
      <app-basket-element *ngFor="let product of basketService.basketProducts | async" [product]="product"></app-basket-element>
    </div>
  </div>
  <app-basket-info-block [products]="basketService.basketProducts"></app-basket-info-block>
</div>

<ng-template #emptyBasket>
  <div class="empty-basket">Ваша корзина пуста.</div>
</ng-template>

<ng-template #loadingBlock>
  <div class="loading-block">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
