.remove-all-button {
  color: #2199e8 !important;
  margin-bottom: 2em;
  display: flex;
  justify-content: right;
}

.main-block {
  margin-top: 3em;
  display: flex;
}

.basket-list {
  margin-left: 2vw;
  width: 80vw;
}

.empty-basket {
  width: 80vw;
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
