.example-chip-list {
  width: 100%;
}

.example-chip-list .mat-form-field-outline-thick {
  color: inherit !important;
}

@media (max-width: 585px) {
  .example-chip-list .mat-chip {
    font-size: 0.8em;
  }
}
