<mat-form-field class="example-chip-list" appearance="outline">
  <mat-label>Теги</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let tag of selectedTags"
      (removed)="remove(tag.name)">
      {{tag.name}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Добавить тег..."
      #tagInput
      [formControl]="tagsControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name">
      {{tag.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
