.images-block {
  display: flex;
  height: fit-content;
  margin-right: 10em;
}

.not-title-images img {
  display: block;
  width: 4em;
  height: 6em;
  margin-right: 1em;
  margin-bottom: 1.3em;
  border: 0.3em solid gray;
  background-color: gray;
}

.title-image {
  height: min-content;
  width: min-content;
  padding: 0;
}

.title-image img {
  width: 20em;
  height: 30em;
  margin: 0;
}
