.order-info-block {
  padding: 1em 3em;
  margin: 0 5em;
}

.order-info-title {
  margin-bottom: 2em !important;
  color: #2199e8;
}

.product-image {
  margin-top: 1em;
  height: 150px !important;
  width: 100px !important;
}

table {
  width: 100%;
}

.table-container {
  max-height: 300px;
  overflow: auto;
  margin-left: 5em;
}

.mat-column-quantity {
  text-align: center !important;
}

.mat-column-total {
  width: 5em;
}

.mat-header-cell {
  color: #2199e8;
}
