.basket-element-block {
  display: flex;
  margin: 1em 1em;
  border-top: 0.1em solid #2199e8;
  border-bottom: 0.1em solid #2199e8;
  padding: 1em 0;
  justify-content: space-between;
}

.mat-stroked-button {
  color: #2199e8 !important;
}

.name-block {
  display: flex !important;
  justify-content: flex-start;
  padding-left: 1em;;
  align-content: center;
  align-items: center;
  width: 30em;
}
