.book-card {
  display: flex;
  flex-wrap: wrap;
  margin: 5em auto 0 auto;
  width: fit-content;
  border: 2px #2199e8 solid;
  border-radius: 5px;
  padding: 3em 0 3em 5em;
}

.book-name {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 2em;
  color: #2199e8;
  font-size: 1.6em;
  width: min-content;
  text-decoration: underline;
}

.info-block {
  width: 15vw;
}

.info-field {
  display: flex;
  margin-bottom: 1em;
}

.field-name {
  color: gray;
  width: 10em;
}

.field-value {
  width: 15em;
}


.field-name, .field-value {
  font-size: 1em;
}

.description {
  height: fit-content;
  width: 30em;
  margin-left: 0;
  max-height: 33vh;
}

.description-block {
  height: 33vh;
}

.description.mat-expanded {
  overflow-y: visible;
}

.description .mat-expansion-panel-header.mat-expanded {
  position: sticky;
}
