.selection-block {
  margin: 1em 2em 0 2em;
  padding: 0 2em;
}

.selection-link {
  text-decoration: none;
  color: #2199e8 !important;
  font-size: 1.2em;
}

.selection-link:hover {
  text-decoration: underline;
}
