.selection-block {
  margin-top: 1em;
}

.selection-books-list > :last-child {
  margin-right: -3vw;
}

.selection-link {
  text-decoration: none;
  color: #2199e8 !important;
  font-size: 1.6em;
}

.selection-link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .selection-link {
    font-size: 1.2em;
  }

  .selection-books-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 800px;
    padding-left: 1px;
    padding-top: 1px;
  }
}

@media (max-width: 830px) {
  .selection-books-list {
    width: 570px;
  }
}

@media (max-width: 585px) {
  .selection-books-list {
    width: 370px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .selection-books-list::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .selection-books-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (max-width: 375px) {
  .selection-books-list {
    width: 340px;
  }
}
