<div class="telegram-dialog-block">
  <div class="telegram-dialog-title">
    Привязка аккаунта к Telegram
  </div>
  <div class="telegram-dialog-field">
    <mat-form-field appearance="outline">
      <mat-label>Номер телефона</mat-label>
      <input placeholder="8/+7 9XX XXX XX XX" [formControl]="phoneNumberControl" [value]="(userProfile | async)?.phoneNumber || ''" matInput/>
      <mat-hint>Номер взят из вашего профиля. Если в профиле не был указан номер, то введенный номер привяжется к вашему аккаунту. </mat-hint>
    </mat-form-field>
  </div>
  <div class="telegram-button">
    <button [disabled]="!phoneNumberControl.valid" type="submit" mat-stroked-button color="primary">Перейти в Telegram</button>
  </div>
</div>
