.filters-block .mat-expansion-panel-body {
  overflow: auto;
  max-height: 30vh;
}

.filters-block .mat-expansion-panel {
  box-shadow: none !important;
  border: 0.1em gray solid;
}

.filters-panel {
  height: min-content;
}

.filters-block {
  margin-left: 1vw;
  margin-top: 6vh;
}

.filters-block .mat-expansion-panel-header {
  border-bottom: 0.1em gray solid;
  margin-bottom: 0;
}

.filters-block .mat-expanded {
  margin-bottom: 1em;
}

.filters-block .mat-action-row {
  justify-content: center !important;
  padding-left: 0 !important;
}

.apply-button {
  color: #2199e8 !important;
  margin-right: 1em !important;
}

@media (max-width: 830px) {
  .filters-block {
    width: 280px;
    margin-left: 20px;
  }
}

@media (max-width: 585px) {
  .filters-block {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
