.custom-selection-block {
  margin-top: 1em;
  width: fit-content;
}

.selection-books-list > :last-child {
  margin-right: -3vw;
}

.selection-link {
  text-decoration: none;
  color: #2199e8 !important;
  font-size: 1.6em;
}

.selection-link:hover {
  text-decoration: underline;
}

.empty-custom-selection-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.empty-custom-selection-block span {
  color: #2199e8;
  font-size: 2em;
}

.empty-custom-selection-block .mat-icon {
  width: max-content;
  height: max-content;
  color: #2199e8;
  font-size: 2.4em;
}

.empty-custom-selection-block .mat-icon:hover {
  cursor: pointer;
}

.custom-selection-settings {
  display: flex;
  justify-content: center;
}

