.custom-selection-block {
  margin-top: 1em;
  width: fit-content;
}

.custom-selection-title {
  display: flex;
  align-items: center;
  color: #2199e8;
  margin-bottom: 1vh;
}

.custom-selection-title h3 {
  margin: 0;
}

.custom-selection-title .mat-icon {
  font-size: 2em;
}

.selection-books-list > :last-child {
  margin-right: -3vw;
}

.selection-link {
  text-decoration: none;
  color: #2199e8 !important;
  font-size: 1.6em;
}

.selection-link:hover {
  text-decoration: underline;
}

.empty-custom-selection-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.empty-custom-selection-block span {
  color: #2199e8;
  font-size: 2em;
}

.empty-custom-selection-block .mat-icon {
  width: max-content;
  height: max-content;
  color: #2199e8;
  font-size: 2.4em;
}

.custom-selection-settings {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .selection-link {
    font-size: 1.2em;
  }

  .custom-selection-title .mat-icon {
    font-size: 1.6em;
  }

  .empty-custom-selection-block span {
    color: #2199e8;
    font-size: 1.6em;
  }

  .empty-custom-selection-block .mat-icon {
    width: max-content;
    height: max-content;
    color: #2199e8;
    font-size: 2em;
  }

  .selection-books-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 800px;
    padding-left: 1px;
    padding-top: 1px;
  }
}

@media (max-width: 830px) {
  .selection-books-list {
    width: 570px;
  }
}

@media (max-width: 585px) {
  .selection-books-list {
    width: 350px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .selection-books-list::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .selection-books-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (max-width: 375px) {
  .selection-books-list {
    width: 330px;
  }
}
