<div class="login-modal">
  <div class="login-title">
    <span>Вход</span>
  </div>
  <form [formGroup]="loginForm" (submit)="login()">
    <mat-form-field class="login-modal-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field class="login-modal-field" appearance="outline">
      <mat-label>Пароль</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="loginForm.hasError('error')">
      {{loginForm.errors?.error}}
    </mat-error>
    <div class="login-button">
      <button [disabled]="!loginForm.valid" type="submit"  mat-stroked-button color="primary">Войти</button>
    </div>
  </form>
  <div class="register-link">
    <span>Нет аккаунта? <a (click)="openRegisterDialog($event)" href="">Зарегистрируйтесь</a></span>
  </div>
</div>
