.battle-block {
  display: flex;
  padding: 5vh 10vh 0 10vh;
}

.countdown {
  display: block;
  justify-content: center;
  color: #2199e8;
  font-size: 2em;
  margin-bottom: 20vh;
}

.countdown .time {
  font-family: 'Arcade', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: 4vh;
}

.first-book {
  margin-left: 0;
  margin-right: auto;
}

.second-book {
  margin-left: auto;
  margin-right: 0;
}

.first-book, .second-book {
  width: max-content;
  margin-top: 3vh;
}

.first-book img, .second-book img {
  width: 400px;
  height: 600px;
}

.center-block {
  text-align: center;
  margin-top: 10vh;
  width: 30vw;
}

.versus {
  font-size: 20em;
  color: #2199e8;
  font-family: 'Arcade', sans-serif;
}

.book-name a {
  display: -webkit-box;
  font-size: 1.6em;
  text-align: center;
  color: #2199e8;
  margin-bottom: 3vh;
  width: 400px;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 4vh;
  text-decoration: none;
}

.book-name a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.votes-block {
  margin-top: 10vh;
  text-align: center;
  font-size: 2em;
  color: #2199e8;
}

.votes-count {
  font-family: 'Arcade', sans-serif;
  font-size: 2.6em;
  display: flex;
  justify-content: space-between;
  color: #2199e8;
  margin: 3vh 0;
  text-align: center;
}

.voting-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #2199e8 !important;
  opacity: 1 !important;
}
/* Font color */
input.mat-input-element {
  color: #2199e8 !important;
  font-size: 1.4em;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #2199e8 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 10px;
}

.voting-filed {
  width: 15vw;
}

.voting-button-block button {
  width: 15vw;
  height: 5vh;
  color: #2199e8;
  font-size: 1.2em;
}

.voting-button-block button:hover {
  color: white;
  background-color: #2199e8;
}
