.battle-block {
  display: flex;
  padding: 5vh 10px 0 10px;
}

.slider-battle-block {
  display: none;
}

.countdown {
  display: block;
  justify-content: center;
  color: #2199e8;
  font-size: 2em;
  margin-bottom: 20vh;
}

.countdown .time {
  font-family: 'Skranji', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: 4vh;
}

.first-book {
  margin-left: 0;
  margin-right: auto;
}

.second-book {
  margin-left: auto;
  margin-right: 0;
}

.first-book, .second-book {
  width: 410px;
  margin-top: 3vh;
}

.battle-book-image-block {
  display: flex;
  justify-content: center;
}

.first-book img, .second-book img {
  width: 300px;
  height: 450px;
}

.center-block {
  text-align: center;
  margin: 5vh 2vw 0 2vw;
  width: 40vw;
}

.versus {
  font-size: 20em;
  color: #2199e8;
  font-family: 'Skranji', sans-serif;
}

.battle-block .book-name a, .slider-battle-block .book-name a {
  display: -webkit-box;
  font-size: 1.6em;
  text-align: center;
  color: #2199e8;
  margin-bottom: 3vh;
  width: 410px;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 41px;
  text-decoration: none;
}

.battle-block .book-name a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.votes-block, .discount-block {
  margin-top: 10vh;
  text-align: center;
  font-size: 2em;
  color: #2199e8;
}

.votes-count {
  display: flex;
  justify-content: space-between;
}

.votes-count, .discount {
  font-family: 'Skranji', sans-serif;
  font-size: 2.6em;
  color: #2199e8;
  margin: 3vh 0;
  text-align: center;
}

.prices-for-winner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12vh;
}

.prices-for-winner .mat-icon {
  width: 4vw;
  height: 4vh;
  font-size: 1.2em;
}

.prices-for-winner .mat-icon:hover {
  cursor: pointer;
}

.book-price {
  display: flex;
}

.book-price .old-price {
  color: black;
  text-decoration: line-through;
  text-decoration-color: #f44336 !important;
}

.book-price .loser-price {
  color: black;
}

.new-price {
  text-decoration: underline;
}

.winner-discount-text {
  font-size: 0.4em;
  margin-bottom: 3vh;
}

.battle-winner-text {
  color: #2199e8;
  font-size: 2em;
  margin-bottom: 3vh;
  text-align: center;
  font-weight: bold;
}

.battle-winner {
  box-shadow: 0 0 10px 2px #2199e8;
  padding: 20px;
}

@media (max-width: 1350px) {
  .countdown {
    font-size: 1.6em;
  }

  .countdown .time {
    font-size: 1.6em;
  }

  .versus {
    font-size: 14em;
  }

  .book-price {
    font-size: 0.7em;
  }

  .votes-count, .discount {
    font-size: 2em;
  }
}

@media (max-width: 1200px) {
  .battle-block {
    display: none;
  }

  .slider-battle-block {
    display: block;
    margin-top: 20px;
  }

  .countdown {
    margin-bottom: 20px;
  }

  .countdown, .countdown .time, .discount {
    font-size: 1.6em;
  }

  .center-block {
    display: flex;
    margin: 0 auto;
    width: 600px;
    align-items: center;
  }

  .discount-block {
    margin-top: 0;
  }

  .battle-info-icon {
    width: 4vw;
    height: 4vh;
    font-size: 2em;
    color: #2199e8;
    margin: 0 20px;
  }

  .prices-for-winner .mat-icon:hover {
    cursor: pointer;
  }

  .books-slider {
    display: flex;
  }

  .slider-battle-block .book-name a {
    font-size: 1.4em;
    margin-bottom: 10px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  .first-book, .second-book {
    width: 350px;
    margin-top: 20px;
  }

  .first-book img, .second-book img {
    width: 240px;
    height: 360px;
  }

  .book-price {
    font-size: 1.4em;
  }

  .new-price {
    color: #2199e8;
  }

  .prices-for-winner {
    margin-top: 20px;
    justify-content: center;
  }

  .votes-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .votes-count {
    font-size: 1.8em;
  }

  .slider-first-book-arrow, .slider-second-book-arrow {
    display: none;
  }
}

@media (max-width: 600px) {
  .countdown, .countdown .time, .discount {
    font-size: 1.4em;
  }

  .countdown .time {
    margin-top: 10px;
  }

  .center-block {
    display: block;
    width: 300px;
  }

  .books-slider {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .slider-battle-block .book-name a {
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 300px;
  }

  .first-book img, .second-book img {
    width: 200px;
    height: 300px;
  }

  .votes-block {
    margin-top: 10px;
  }

  .votes-count {
    font-size: 1.6em;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .books-slider::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .books-slider {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .slider-first-book-arrow {
    display: flex;
    justify-content: flex-end;
    color: #2199e8;
  }

  .slider-second-book-arrow {
    display: flex;
    justify-content: flex-start;
    color: #2199e8;
  }
}

