<div *ngIf="(battleInfo$ | async) as battle" class="battle-block">
  <div class="first-book">
    <div title="{{battle.firstBattleBook.name}}" class="book-name">
      <a target="_blank" href="/book-store/catalog/book/{{battle.firstBattleBook.bookId}}">
        {{battle.firstBattleBook.name}}
      </a>
    </div>
    <img [alt]="battle.firstBattleBook.name" src="{{battle.firstBattleBook.titleImage | base64ToImgSrc}}">
    <app-battle-voting-block [votingBookId]="battle.firstBattleBook.battleBookId"
                             [canUserVote]="canUserVote(battle.firstBattleBook.battleBookId, battle)"
                             [userMaxPoints]="(userProfile$ | async)?.votingPointCount || 0"
                             [battleVotedBookId]="battle.votedBattleBookId"
                             [onVote]="handleVoting">
    </app-battle-voting-block>
  </div>
  <div class="center-block">
    <div class="countdown">
      <div>
        {{getBattleMessage(battle)}}
      </div>
      <div *ngIf="!hasBattleEnded(battle)" class="time">
        <cd-timer [countdown]="true" [startTime]="getRemainingTime(battle.endDate)" format="user">
          [days]:[hours]:[minutes]:[seconds]
        </cd-timer>
      </div>
    </div>
    <div class="versus">
      VS
    </div>
    <div class="votes-block">
      Очки
      <div class="votes-count">
        <div>
          {{battle.firstBattleBook.totalVotingPointCount}}
        </div>
        <div>
          {{battle.secondBattleBook.totalVotingPointCount}}
        </div>
      </div>
    </div>
    <div class="discount-block">
      <div class="discount">
        {{battle.discountPercentage}}% / {{battle.finalDiscount}}%
      </div>
      <div class="prices-for-winner">
        <div class="book-price">
          <div class="old-price">
            {{battle.firstBattleBook.cost}} &#8381;
          </div>
          &nbsp; &nbsp;
          <div class="new-price">
            {{battle.firstBattleBook.cost * (1 - battle.discountPercentage / 100)}} &#8381;
          </div>
        </div>
        <mat-icon (click)="openBattleInfoDialog()" matTooltip="Информация о баттле">help_outline</mat-icon>
        <div class="book-price">
          <div class="old-price">
            {{battle.secondBattleBook.cost}} &#8381;
          </div>
          &nbsp; &nbsp;
          <div class="new-price">
            {{battle.secondBattleBook.cost * (1 - battle.discountPercentage / 100)}} &#8381;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-book">
    <div title="{{battle.secondBattleBook.name}}" class="book-name">
      <a target="_blank" href="/book-store/catalog/book/{{battle.secondBattleBook.bookId}}">
        {{battle.secondBattleBook.name}}
      </a>
    </div>
    <img [alt]="battle.secondBattleBook.name" src="{{battle.secondBattleBook.titleImage | base64ToImgSrc}}">
    <app-battle-voting-block [votingBookId]="battle.firstBattleBook.battleBookId"
                             [canUserVote]="canUserVote(battle.secondBattleBook.battleBookId, battle)"
                             [userMaxPoints]="(userProfile$ | async)?.votingPointCount || 0"
                             [battleVotedBookId]="battle.votedBattleBookId"
                             [onVote]="handleVoting">
    </app-battle-voting-block>
  </div>
</div>
