<div class="item-block">
  <div routerLink="//book-store/catalog/book/{{item.id}}" class="item">
    <div class="image-block">
      <img class="title-image" *ngIf="item.titleImage" alt="Title Image" src="{{item.titleImage.fileUrl}}">
    </div>
    <div class="name">{{item.name}}</div>
  </div>
  <div class="buy-block">
    <span>{{item.cost}} &#8381;</span>
    <button *ngIf="!inBasketFlag; else inBasket"
            (click)="isUserAuthorized ? handleAddToBasketClick() : openLoginDialog()"
            class="add-to-basket-button"
            mat-stroked-button>
      Купить
    </button>
  </div>
</div>

<ng-template #inBasket>
  <button routerLink="/book-store/basket" class="in-basket-button" mat-button>В корзине</button>
</ng-template>
