<div class="item-block">
  <div routerLink="//book-store/catalog/book/{{item.id}}" class="item">
    <div class="image-block">
      <img class="title-image" *ngIf="item.titleImage" alt="Title Image" src="{{item.titleImage | base64ToImgSrc}}">
    </div>
    <p>{{item.name}}</p>
  </div>
  <div class="buy-block">
    <span>{{item.cost}} &#8381;</span>
    <button *ngIf="!item.isInBasket; else inBasket" (click)="basketService.addProduct(item.id)" class="add-to-basket-button" mat-button>Купить</button>
  </div>
</div>

<ng-template #inBasket>
  <button routerLink="/book-store/basket" class="in-basket-button" mat-button>В корзине</button>
</ng-template>
