.mat-pseudo-checkbox {
  border: none !important;
}

.mat-option-multiple:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 12px;
  width: 16px; height: 16px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  z-index: 1;
}

.mat-selected:before {
  content: attr(data-number) !important;
  font-size: 14px;
  color: purple;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-pseudo-checkbox-checked:after {
  transform: none !important;
  width: 0 !important;
  height: 0 !important;
  border-left: none !important;
}

.sorting-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.reset-button {
  color: #2199e8 !important;
  height: 3.7em;
  text-align: center;
}

.custom-option {
  display: flex;
  width: min-content !important;
  margin: 0 !important;
  padding: 0 !important;
}

.option-text {
  min-width: 20em;
  max-width: 20em;
}

