<mat-form-field appearance="fill">
  <mat-label>Сортировка</mat-label>
  <mat-select multiple
    [formControl]="sortingSelectControl">
    <ng-container *ngFor="let item of propertyNamesWithText" >
      <mat-option [value]="{propertyName: item[1], isAscending: true}" (onSelectionChange)="onOptionChanged($event)">
        {{item[0]}}
      </mat-option>
      <button mat-button (click)="onOrderButtonClick(item[1])">
        <mat-icon>{{getOrder(item[1]) ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
      </button>
    </ng-container>
  </mat-select>
</mat-form-field>
<button (click)="resetSortings()">Сбросить</button>
