<div class="sorting-block">
  <mat-form-field class="sorting-select" appearance="outline">
    <mat-label>Сортировка</mat-label>
    <mat-select multiple
                [formControl]="sortingSelectControl">
      <ng-container *ngFor="let item of propertyNamesWithText">
        <div class="custom-option">
          <mat-option class="option-text" [value]="{propertyName: item[1]}" (onSelectionChange)="onSortingChanged($event)">
            {{item[0]}}
          </mat-option>
          <button class="order-button" [disabled]="!isSortingChecked(item[1])" mat-button (click)="changeDirection(item[1])">
            <mat-icon>{{isAscending(item[1]) ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
          </button>
        </div>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <button class="reset-button" mat-stroked-button (click)="resetSortings()"><mat-icon>refresh</mat-icon></button>
</div>

