/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: block;
  height: 100%;
}


.mat-tooltip {
  font-size: 1.2em;
}

.mat-error {
  margin-top: -1em;
}

.loading-block {
  display: flex;
  color: #2199e8;
  justify-content: center;
  padding-top: 100px;
}

.loading-block .mat-spinner circle {
  stroke: #2199e8;
}
