<div class="register-modal">
  <div class="register-title">
    <span>Регистрация</span>
  </div>
  <form [formGroup]="registerForm" (submit)="register()">
    <mat-form-field class="register-modal-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
    <mat-error *ngIf="registerForm.controls.email.hasError('error')">
      {{registerForm.controls.email.errors?.error}}
    </mat-error>
    <mat-form-field class="register-modal-field" appearance="outline">
      <mat-label>Имя</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-error *ngIf="registerForm.controls.name.hasError('error')">
      {{registerForm.controls.name.errors?.error}}
    </mat-error>
    <mat-form-field class="register-modal-field" appearance="outline">
      <mat-label>Пароль</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="registerForm.controls.password.hasError('error')">
      {{registerForm.controls.password.errors?.error}}
    </mat-error>
    <mat-form-field class="register-modal-field" appearance="outline">
      <mat-label>Повторите пароль</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="repeatPassword" matInput>
    </mat-form-field>
    <mat-error *ngIf="registerForm.controls.repeatPassword.hasError('error')">
      {{registerForm.controls.repeatPassword.errors?.error}}
    </mat-error>
    <div class="register-button">
      <button [disabled]="!registerForm.valid" type="submit" mat-stroked-button color="primary">Регистрация</button>
    </div>
  </form>
  <div class="register-link">
    <span>Уже есть аккаунт? <a (click)="openLoginDialog($event)" href="">Войдите</a></span>
  </div>
</div>

