.add-to-cart-block {
  margin: 4em 0 2em 0;
  height: fit-content;
}

.add-to-cart {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.add-to-cart span {
  height: min-content;
  font-size: 1.4em;
  margin-right: 4em;
}

.add-to-basket-button {
  height: min-content;
  font-size: 1em;
  color: #2199e8;
  padding-right: 1em;
  padding-left: 1em;
}

.in-basket-button, .in-basket-button:hover {
  background-color: #2199e8 !important;
  color: white;
}

@media (max-width: 1200px) {
  .add-to-cart-block {
    margin-top: 70px;
  }

  .add-to-cart span {
    height: min-content;
    font-size: 1.2em;
    margin-right: 30px;
  }

  .add-to-basket-button, .in-basket-button {
    font-size: 0.8em;
  }
}
