<div *ngIf="isValid">
  <button class="back-button" routerLink="/dashboard/product/{{productType}}">Назад</button>
  <h1 class="title">{{entityName}}</h1>
  <div class="list-block">
    <button routerLink="/dashboard/form/{{entityType}}" class="button">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <ul class="list">
      <app-related-entity-list-item
        *ngFor="let item of entityList$ | async"
        [item]="item"
        [entityType]="entityType">
      </app-related-entity-list-item>
    </ul>
  </div>
  <paggination-panel *ngIf="(pageCount$ | async) as pageCount; else null" [pageCount]="pageCount" (pageTurnedOver)="pageChanged($event)"></paggination-panel>
</div>
<div class="error-title" *ngIf="!isValid">
  Page Not Found (Invalid URL)
</div>

