<mat-form-field class="filter-item">
  <mat-select multiple
              [required]="required"
              [disableOptionCentering]="true"
              [placeholder]="placeholder"
              [compareWith]="compareOption"
              [formControl]="selectFormControl"
              (ngModelChange)="formControlChanged($event)"
              (openedChange)="onSelectOpenedChange()"
              panelClass="select-dropdown">
    <mat-option>
      <ngx-mat-select-search
        class="multi-select-search"
        [clearSearchInput]="false"
        placeholderLabel="Search"
        noEntriesFoundLabel="No data found"
        [formControl]="searchControl">
        <button class="mat-select-search-custom-header-content select-all-button" mat-button (click)="onSelectAllOptions()">
          Select All
        </button>
      </ngx-mat-select-search>
    </mat-option>
    <mat-option (onSelectionChange)="onSelectedOptionChange($event)" *ngFor="let option of filteredOptions$ | async"
                [value]="option.value">
      <ng-container
        *ngIf="optionTemplateRef else defaultOptionTemplate"
        [ngTemplateOutlet]="optionTemplateRef"
        [ngTemplateOutletContext]="{ $implicit: option }">
      </ng-container>
      <ng-template #defaultOptionTemplate>{{ option.name }}</ng-template>
    </mat-option>
  </mat-select>
  <mat-error>
    <ng-content></ng-content>
  </mat-error>
</mat-form-field>
