.books-list {
  display: flex;
  margin-left: 3vw;
  margin-top: 3em;
}

.pagination-block {
  position: fixed;
  width: 100%;
  bottom: 5vh;
  display: flex;
  justify-content: center;
}

.ngx-pagination {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-bottom: 0 !important;
}

.custom-pagination {
  border: 0.1em gray solid;
  border-radius: 0.4em;
  padding: 0;
  font-size: 1.2em;
}

.page-block {
  display: flex;
}

.filter-block {
  display: inline;
  margin: 1em;
}

.filter-elem {
  display: block;
}
