<div class="profile-block">
  <div class="profile-title">
    <span>Профиль</span>
  </div>
  <form (submit)="onSaveChanges()" [formGroup]="profileForm">
    <div class="profile-form-field">
      <div class="label">
        <label>Email: </label>
      </div>
      <input class="email" readonly formControlName="email">
    </div>
    <div class="profile-form-field">
      <div class="label">
        <label>Имя: </label>
      </div>
      <div class="field-with-error">
        <div>
          <input required formControlName="firstName">
        </div>
        <mat-error *ngIf="profileForm.controls.firstName.hasError('required')">
          Это поле необходимо заполнить
        </mat-error>
      </div>
    </div>
    <div class="profile-form-field">
      <div class="label">
        <label>Фамилия: </label>
      </div>
      <input formControlName="lastName">
    </div>
    <div class="profile-form-field">
      <div class="label">
        <label>Номер телефона: </label>
      </div>
      <div class="field-with-error">
        <div>
          <input formControlName="phoneNumber">
        </div>
        <mat-error *ngIf="profileForm.controls.phoneNumber.hasError('error')">
          {{profileForm.controls.phoneNumber.errors?.error}}
        </mat-error>
      </div>
    </div>
    <div class="profile-form-field">
      <div class="label">
        <label>Адрес: </label>
      </div>
      <input formControlName="address">
    </div>
    <div class="save-changes-button-block">
      <button [disabled]="!allowSubmit" mat-stroked-button type="submit">Сохранить изменения</button>
    </div>
  </form>
</div>
