<div class="battle-info-dialog">
  <div class="close-button-block">
    <button (click)="onClose()" mat-icon-button><mat-icon>close</mat-icon></button>
  </div>
  <mat-dialog-content class="battle-info-dialog-content">
    <div class="battle-info-dialog-title">Информация о баттле</div>
    <div>
      Комикс баттл - соревнование зрительских симпатий.
      Для голосования используются специальные очки, которые выдаются при старте каждого нового баттла и за покупки в магазине. Чем больше покупок и чем они дороже, тем больше очков вы получаете.
      Количество очков, которые можно потратить, не органичено, однако проголосовать можно только за один комикс. Сделав свой выбор впервые, изменить его у вас не получится.
    </div>
    <p></p>
    <div>
      По итогу баттла комикс набравший большее количество очков получает скидку.
      Чем больше голосов было потрачено за время голосования, тем больше будет скидка. При этом скидка не может превысить максимальный порог.
    </div>
    <p></p>
    <div>
      На странице отображается вся информация о текущем баттле:
      <ul>
        <li>
          Количество очков, которое набрал каждый комикс
        </li>
        <li>
          Накопившуюся скидку. Например, 5% / 30%, где 5% - это текущая скидка, а 30% - максимальный порог
        </li>
        <li>
          Цену комикса, в случае, если он одержит победу в баттле. Она непосредственно зависит от текущей набранной скидки.
        </li>
      </ul>
    </div>
    Чтобы иметь возможность голосовать, необходимо авторизоваться.
  </mat-dialog-content>
  <mat-dialog-actions class="battle-info-dialog-actions">
    <button (click)="onClose()" class="battle-info-ok-button" color="primary" mat-flat-button>Ок</button>
  </mat-dialog-actions>
</div>
